openapi: 3.0.3
info:
  title: Tamara Channel Partners Captures Merchant Onboarding API
  description: 'Allow payment service providers, platforms, and aggregators to onboard merchants onto

    Tamara on their behalf. Submit merchant KYB/KYC information, retrieve onboarding

    status and merchant API keys, and register onboarding event webhooks.

    '
  version: 1.0.0
  contact:
    name: Tamara Partner Support
    url: https://docs.tamara.co/
servers:
- url: https://partner-api.tamara.co
  description: Production
- url: https://partner-api-sandbox.tamara.co
  description: Sandbox
tags:
- name: Merchant Onboarding
paths:
  /channel-partners/merchant-onboarding/create:
    post:
      operationId: createMerchantOnboarding
      summary: Create Merchant Onboarding
      description: Submit merchant and KYB information to initiate automated onboarding and verification.
      tags:
      - Merchant Onboarding
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardingRequest'
      responses:
        '200':
          description: Onboarding submitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingResponse'
  /channel-partners/merchant-onboarding/{onboardingCode}:
    get:
      operationId: retrieveMerchantOnboarding
      summary: Retrieve Merchant Onboarding
      tags:
      - Merchant Onboarding
      security:
      - bearerAuth: []
      parameters:
      - name: onboardingCode
        in: path
        required: true
        schema:
          type: string
          example: S0777457
      responses:
        '200':
          description: Onboarding details.
components:
  schemas:
    BankKyc:
      type: object
      properties:
        iban:
          type: string
        email_for_settlement_report:
          type: string
        beneficiary_name:
          type: string
        swift_code:
          type: string
    OnboardingResponse:
      type: object
      properties:
        onboarding_code:
          type: string
    LegalKyc:
      type: object
      properties:
        cr_number:
          type: string
        national_id_number:
          type: string
        entity_name:
          type: string
        legal_address:
          type: string
        legal_signatory_name:
          type: string
    OnboardingRequest:
      type: object
      required:
      - first_name
      - last_name
      - country
      - email
      - phone
      - business_kyc
      properties:
        locale:
          type: string
          example: en_AE
        first_name:
          type: string
        last_name:
          type: string
        country:
          type: string
        email:
          type: string
          format: email
        country_code:
          type: string
        phone:
          type: string
        hear_about_tamara:
          type: string
        external_channel_partner_id:
          type: string
        business_kyc:
          $ref: '#/components/schemas/BusinessKyc'
        bank_kyc:
          $ref: '#/components/schemas/BankKyc'
        legal_kyc:
          $ref: '#/components/schemas/LegalKyc'
        user_defined_data:
          type: object
          additionalProperties: true
    BusinessKyc:
      type: object
      properties:
        business_name:
          type: string
        country_of_operations:
          type: string
        business_type:
          type: string
          enum:
          - registered
          - freelance
          - sole_proprietor
        website_url:
          type: string
          format: uri
        online:
          type: boolean
        in_store:
          type: boolean
        annual_gmv:
          type: string
        category:
          type: array
          items:
            type: string
        sub_category:
          type: array
          items:
            type: string
        platform:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
