openapi: 3.0.3
info:
  title: Tamara Channel Partners Captures API
  description: 'Allow payment service providers, platforms, and aggregators to onboard merchants onto

    Tamara on their behalf. Submit merchant KYB/KYC information, retrieve onboarding

    status and merchant API keys, and register onboarding event webhooks.

    '
  version: 1.0.0
  contact:
    name: Tamara Partner Support
    url: https://docs.tamara.co/
servers:
- url: https://partner-api.tamara.co
  description: Production
- url: https://partner-api-sandbox.tamara.co
  description: Sandbox
tags:
- name: Captures
paths:
  /payments/capture:
    post:
      operationId: captureOrder
      summary: Capture Order
      description: 'Perform a full or partial capture of an authorised order, confirming shipment or

        fulfilment of items to the customer. Status returned will be `fully_captured` or

        `partially_captured` based on the amount captured.

        '
      tags:
      - Captures
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaptureRequest'
      responses:
        '200':
          description: Capture successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptureResponse'
components:
  schemas:
    ShippingInfo:
      type: object
      properties:
        shipped_at:
          type: string
          format: date-time
        shipping_company:
          type: string
        tracking_number:
          type: string
        tracking_url:
          type: string
          format: uri
    Item:
      type: object
      properties:
        reference_id:
          type: string
        type:
          type: string
        name:
          type: string
        sku:
          type: string
        quantity:
          type: integer
        total_amount:
          $ref: '#/components/schemas/Money'
    CaptureRequest:
      type: object
      required:
      - order_id
      - total_amount
      - shipping_info
      properties:
        order_id:
          type: string
          format: uuid
        total_amount:
          $ref: '#/components/schemas/Money'
        shipping_info:
          $ref: '#/components/schemas/ShippingInfo'
        items:
          type: array
          items:
            $ref: '#/components/schemas/Item'
        discount_amount:
          $ref: '#/components/schemas/Money'
        shipping_amount:
          $ref: '#/components/schemas/Money'
        tax_amount:
          $ref: '#/components/schemas/Money'
    Money:
      type: object
      required:
      - amount
      - currency
      properties:
        amount:
          type: number
        currency:
          type: string
          enum:
          - SAR
          - AED
          - BHD
          - KWD
          - OMR
    CaptureResponse:
      type: object
      properties:
        capture_id:
          type: string
          format: uuid
        order_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - fully_captured
          - partially_captured
        captured_amount:
          $ref: '#/components/schemas/Money'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
